2. suction_HIGH_CONC_4ml_(and_2_times_resuction).csv
3. suction_HIGH_CONC_2ml_(and_2_times_resuction.csv
4. suction_HIGH_CONC_1ml_(and_2_times_resuction).csv
5. suction_HIGH_CONC_1ml_and_no_resuction.csv
6. suction_MIDDLE_CONC_3ml_(and_no_resuction).csv